.option__like{:id => "like-link-#{@post.id}"}
  - if user_signed_in?
    - if current_user.likes.find_by(post_id: post.id)
      = link_to unlike_post_path(@post.id, @post.id), method: :delete, remote: true, class: "option__like-on" do
        .fas.fa-globe-americas
        .option__like-on__text わかった！
        .option__like-on__count
          =post.likes.count
    - else
      = link_to  like_post_path(@post.id, @post.id), method: :post, remote: true, class: "option__like-off" do
        .fas.fa-globe-americas
        .option__like-off__text わかった！
        .option__like-off__count
          =post.likes.count