.ErrorMessage {
  .alert {
    color: crimson; 
    // background :#fff3e2;
    text-align: center;
    // border: 2px solid #feb340;
    padding: 12px;
    margin-bottom: 24px;
    font-size: 12px;
  }
}