.Notification {
  .notice {
    background-color: #3ccace;
    color: #fff;
    text-align: center;
    font-size: 12px;
  }

  .alert {
    background-color: crimson;
    color: #fff;
    text-align: center;
    font-size: 12px;
  }
}