.PostsIndex {
  .Wrapper {
    .Main {
      background: image-url("earth-illust.png");
      background-repeat: no-repeat;
      background-position: bottom 70px center;
      background-size: 100px;
      padding-bottom: 216px;
      h2 {
        font-size: 32px;
        width: 100%;
        text-align: center;
        margin-top: 36px;
      }
      p {
        text-align: center;
      }
      .Map {
        height: 100%;
        width: 100vw;
      }
      .Contents {
        .HeadLine {
          padding-right: calc(4% + 8px);
          padding-left: calc(4% + 8px);
          margin-top: 32px;
        }
        .Grid {
          display: grid;
          gap: 24px;
          grid-template-columns: 1fr 1fr 1fr;
          margin-top: 2%;
          padding: 0 4%;
          margin-bottom: 50px;
        }
      }
    }
  }
}
@media screen and(max-width: 414px) {
  .PostsIndex {
    .Wrapper {
      .Main {
        background: image-url("earth-illust.png");
        background-repeat: no-repeat;
        background-position: bottom 70px center;
        background-size: 100px;
        padding-bottom: 216px;
        h2 {
          font-size: 24px;
          width: 100%;
          text-align: center;
          margin-top: 36px;
          margin-bottom: 24px;
        }
        p {
          text-align: left;
          padding-right: calc(4% + 8px);
          padding-left: calc(4% + 8px);
        }
        .Map {
          height: 100%;
          width: 100vw;
        }
        .Contents {
          .HeadLine {
            padding-right: calc(4% + 8px);
            padding-left: calc(4% + 8px);
            margin-top: 32px;
          }
          .Grid {
            display: grid;
            gap: 24px;
            grid-template-columns: 1fr;
            margin-top: 2%;
            padding: 0 4%;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
  
}