.PostsEdit {
  .Wrapper {
    .Main {
      background: image-url("earth-illust.png");
      background-repeat: no-repeat;
      background-position: bottom 70px center;
      background-size: 100px;
      padding-bottom: 216px;
      margin-top: 48px;
      &__content {
        height: calc(100vh - 90px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 72px;
        .InputField {
          .field {
            width: 500px;
          }
          .Label {
            padding: 0 2%;
            margin: 0 2%;
            display: flex;
          }
          &__name {
            width: 480px;
            padding: 2%;
            margin: 2%;
          }
          &__country {
            width: 480px;
            padding: 2%;
            margin: 2%;
          }
          &__description {
            width: 480px;
            padding: 2%;
            margin: 2%;
          }
          &__latitude {
            width: 480px;
            padding: 2%;
            margin: 2%;
          }
          &__longitude {
            width: 480px;
            padding: 2%;
            margin: 2%;
          }
          &__submit {
            width: 480px;
            padding: 2%;
            margin: 2%;
          }
        }
      }
    }
  }
  .Counter {
    color: #888;
    font-size: 12px;
    line-height: 1.4em;
    text-align: right;
    padding-right: 2%;
  }
}
