.PostsShow {
  .Wrapper {
    .Main {
      .Search {
        padding: 24px 4%;
        .SearchForm {
          display: flex;
          align-items: center;
          .SearchBox {
            .search {
              width: 200px;
              margin-right: 24px;
              padding: 0 2%;
            }
          }
        }
      }
      .Map {
        height: 100%;
        width: 100vw;
      }
      .Contents {
        // height: 600px;
        // overflow: scroll;
        .HeadLine {
          padding: 0 4%;
        }
        .Grid {
          display: grid;
          gap: 24px;
          grid-template-columns: 1fr 1fr;
          margin-top: 2%;
          padding: 0 4%;
          // margin-bottom: 50px;
          
        }
        .Content {
           font-size: 12px;
           box-shadow: 0 0 25px rgba(0,0,0,.45);
           background-color: antiquewhite;
           padding: 2%;
           
           .Description {
             height: 90px;
             overflow: scroll;
           }
           &__bottom {
             height: 36px;
             .Name {
              //  background-color: #666;
               font-size: 16px;
               border-bottom: 1px solid #666;
             }
            //  .Name:hover {
            //    background-color: #fff;
            //    -webkit-transition: 0.5s;
            //    -moz-transition: 0.5s;
            //    -o-transition: 0.5s;
            //    -ms-transition: 0.5s;
            //    transition: 0.5s;
            //  }
           }
        }
      }
      .EditAndDelete {
        padding: 0 4%;
        margin: 2% 0;
        display: flex;
        .Edit {
          margin-right: 24px;
          .button {
            width: 96px;
            padding: 2%;
          }
        }
        .Delete {
          .button {
            width: 96px;
            padding: 2%;
            
          }
        }
      }
    }
  }
  .option {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    &__like {
      &-on {
        text-decoration: none;
        padding: 11px 10px;
        border-radius: 40px;
        color: #3CCACE;
        border: 1px solid #ffb340;
        // border: 1px solid antiquewhite;
        display: flex;
        line-height: 16px;
        .fas.fa-globe-americas {
          padding-right: 5px;
        }
        &__text {
          padding-right: 5px;
        }
      }
      &-off {
        text-decoration: none;
        padding: 11px 10px;
        border-radius: 40px;
        color: #333;
        border: 1px solid #f5f5f5;
        // border: 1px solid antiquewhite;
        display: flex;
        line-height: 16px;
        background: #f5f5f5;
        .fas.fa-globe-americas {
          padding-right: 5px;
        }
        &__text {
          padding-right: 5px;
        }
      }
    }
  }
}