.PostsIndex {
  .Wrapper {
    .Main {
      background: image-url("earth-illust.png");
      background-repeat: no-repeat;
      background-position: bottom 70px center;
      background-size: 100px;
      padding-bottom: 216px;
      h2 {
        font-size: 32px;
        width: 100%;
        text-align: center;
        margin-top: 36px;
      }
      p {
        text-align: center;
      }
      .Search {
        padding: 24px 4%;
        .SearchForm {
          display: flex;
          align-items: center;
          .SearchBox {
            .search {
              width: 200px;
              margin-right: 24px;
              padding: 0 2%;
            }
          }
        }
      }
      .Map {
        height: 100%;
        width: 100vw;
      }
      .Contents {
        .HeadLine {
          padding-right: calc(4% + 8px);
          padding-left: calc(4% + 8px);
          margin-top: 32px;
        }
        .Grid {
          display: grid;
          gap: 24px;
          grid-template-columns: 1fr 1fr 1fr;
          margin-top: 2%;
          padding: 0 4%;
          margin-bottom: 50px;
        }
        .Content {
          font-size: 12px;
          // transition: all .8s ease-in-out;
          padding: 8px 8px 0 8px;
          .Description {
            height: 90px;
            overflow: scroll;
          }
          &__bottom {
            height: 36px;
            .Name {
              background-color: #666;
              transition: all .8s ease-in-out;
            }
            .Name:hover {
              background-color: antiquewhite;
            }
          }
        }
        .Content:hover {
          box-shadow: 0 0 25px rgba(0,0,0,.45);
          background-color: antiquewhite;
        }

      }
    }
  }
}