.PostsShow {
  .Wrapper {
    .Main {
      
      .Search {
        padding: 24px 4%;
        display: flex;
        align-items: center;
        .SearchBox {
          .search {
            width: 200px;
            margin-right: 24px;
          }
        }
      }
      .Map {
        height: 100%;
        width: 100vw;
      }
      .Contents {
        // height: 600px;
        // overflow: scroll;
        .HeadLine {
          padding: 0 4%;
        }
        .Grid {
          display: grid;
          gap: 24px;
          grid-template-columns: 1fr 1fr 1fr;
          margin-top: 2%;
          padding: 0 4%;
          // margin-bottom: 50px;
          
        }
        .Content {
           font-size: 12px;
           
           .Description {
             height: 90px;
             overflow: scroll;
           }
           &__bottom {
             height: 36px;
             .Name {
              //  background-color: #666;
               font-size: 16px;
             }
            //  .Name:hover {
            //    background-color: #fff;
            //    -webkit-transition: 0.5s;
            //    -moz-transition: 0.5s;
            //    -o-transition: 0.5s;
            //    -ms-transition: 0.5s;
            //    transition: 0.5s;
            //  }
           }
        }
      }
      .EditAndDelete {
        padding: 0 4%;
        margin: 2% 0;
        display: flex;
        .Edit {
          margin-right: 24px;
          .button {
            width: 96px;
          }
        }
        .Delete {
          .button {
            width: 96px;
          }
        }
      }
    }
  }
}