.UsersShow {
  .Wrapper {
    .Main {
      .Profile {
        margin-top: 12px;
        .Picture {
          height: 300px;
          width: 100vw;
          // background-color: lightblue;
          position: relative;
          margin-bottom: 20px;
          &__backGround {
            height: 240px;
            // width: 100%;
            // background-color: lightgoldenrodyellow;
            background: image-url("easter_island.jpg");
            background-size: cover;
            background-position:center;


          }
          &__user {
            position: absolute;
            height: 240px;
            width: 240px;
            top: 70px;
            left: 50%;
            background: image-url("kirinji.jpg"); //後で消す
            background-size: cover; //後で消す
            background-position:center ;
            border-radius: 50%;
            background-position: left top;
            border: 6px solid #ffffff;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
          }
        }
        .Introduction {
          padding: 0 4%;
          display: flex;
          margin-bottom: 72px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .Content {
            width: 100%;
            .Top {
              .Name {
                width: 100%;
                text-align: center;
              }
              .NumberOfPosts {
                width: 100%;
                text-align: center;
              }
              .Edit {
                width: 100%;
                text-align: center;
                margin-top: 16px;
                a {
                  color: #707070;
                  -webkit-transition: 0.5s;
                  -moz-transition: 0.5s;
                  -o-transition: 0.5s;
                  -ms-transition: 0.5s;
                  transition: 0.5s;
                  position: relative;
                  text-decoration: none;
                }
                a:before{
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -4px;
                  width: 100%;
                  height: 1px;
                  background: #555;
                  transform: scale(0, 1);
                  transform-origin: left;
                  transition: 0.5s;
                }
                a:hover {
                  color: #101010;
                }
                a:hover:before {
                  transform: scale(1);
                }
              }
            }
            .Bottom {
              display: flex;
              justify-content: center;
              .Text {
                font-size: 12px;
                margin-top: 16px;
                width: 32%;
              }
            }
          }
          // .RightContent {
          //   width: 40%;
          //   // height: 400px;
          //   // background-color: lightcoral;
          // }
        }
      }
      .Search {
        padding: 24px 4%;
        display: flex;
        align-items: center;
        .SearchBox {
          .search {
            width: 200px;
            margin-right: 24px;
            padding: 0 2%;
          }
        }
      }
      .Map {
        height: 100%;
        width: 100vw;
      }
      .Contents {
        // height: 600px;
        // overflow: scroll;
        .HeadLine {
          padding: 0 4%;
        }
        .Grid {
          display: grid;
          gap: 24px;
          grid-template-columns: 1fr 1fr 1fr;
          margin-top: 2%;
          padding: 0 4%;
          margin-bottom: 50px;
          
        }
         .Content {
           font-size: 12px;
           
           .Description {
             height: 90px;
             overflow: scroll;
           }
           &__bottom {
             height: 36px;
             .Name {
              //  background-color: #666;
               font-size: 16px;
             }
            //  .Name:hover {
            //    background-color: #fff;
            //    -webkit-transition: 0.5s;
            //    -moz-transition: 0.5s;
            //    -o-transition: 0.5s;
            //    -ms-transition: 0.5s;
            //    transition: 0.5s;
            //  }
           }
         }
      }
    }
  }
}