.PostsIndex
  .Wrapper
    = render partial: "header"
    .Main
      .Search
        .SearchBox
          %label(for="name" class="")
            SEARCH
          %input(type="search" class="search")/
        .SearchButton
          %input(type="submit" value="push" class="button")/

      .Map
        #map{:style => "width: 100%; height: 100vh;"}
      :javascript
        handler = Gmaps.build('Google');
        handler.buildMap({ 
          provider: {mapTypeId: 'hybrid'},
          internal: {id: 'map'}
          }, 
          function(){
          markers = handler.addMarkers(#{raw @hash.to_json})
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          // handler.getMap().setCenter(new google.maps.LatLng(35.681298, 139.7640582));
          handler.getMap().setZoom(3);
        });

      .Contents
        %p.HeadLine
          世界遺産一覧（アンダーラインにカーソルを合わせると名称が表示されます）
        .Contents.Grid
          .Content
            = link_to "#" do
              .Country
                国名: イギリス
              .Latitude
                緯度: 51.178958
              .Longitude
                経度: -1.826552
              .Description
                ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
              .Content__bottom
                .Name
                  ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。
            .Content__bottom
              .Name
                ストーンヘンジストーンヘンジストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ
          .Content
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
            .Content__bottom
              .Name
                ストーンヘンジ

    = render partial: "footer"