.PostsShow
  .Wrapper
    = render partial: "header"
    .Main
      .Search
        .SearchBox
          %label(for="name" class="")
            SEARCH
          %input(type="search" class="search")/
        .SearchButton
          %input(type="submit" value="push" class="button")/

      .Contents
        %p.HeadLine
          世界遺産の詳細（説明文が長い場合はスクロールすると見れます）
        
        .Contents.Grid
          .Content
            .Content__bottom
              .Name
                ストーンヘンジ
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
      .EditAndDelete
        .Edit
          %input(type="button" value="edit" class="button")/
        .Delete
          %input(type="button" value="delete" class="button")/

      .Map
        #map{:style => "width: 100%; height: 100vh;"}
      :javascript
        handler = Gmaps.build('Google');
        handler.buildMap({ 
          // hybridはroadmapとsateliteの複合した地図
          provider: {mapTypeId: 'hybrid'},
          internal: {id: 'map'}
          }, 
          function(){
          markers = handler.addMarkers(#{raw @hash.to_json})
          handler.bounds.extendWith(markers);
          // setCenterを指定しない場合、fitMapToBoundsのおかげで、該当する全てのスポットが枠に収まるように表示される。
          // スポットが1つの場合、そこを中心にしてくれる。（setCenterを指定しない場合に限る）
          handler.fitMapToBounds();
          // 地図の中心の緯度経度を指定する場合に使用。
          //handler.getMap().setCenter(new google.maps.LatLng(35.681298, 139.7640582));
          // 数字を変えるとデフォルトの拡大率が変わる（21まで）
          handler.getMap().setZoom(4);
        });
      

    = render partial: "footer"