.PostsShow
  .Wrapper
    = render partial: "header"
    .Main
      .Search
        .SearchBox
          %label(for="name" class="")
            SEARCH
          %input(type="search" class="search")/
        .SearchButton
          %input(type="submit" value="push" class="button")/

      .Contents
        %p.HeadLine
          世界遺産の詳細（説明文が長い場合はスクロールすると見れます）
        
        .Contents.Grid
          .Content
            .Content__bottom
              .Name
                ストーンヘンジ
            .Country
              国名: イギリス
            .Latitude
              緯度: 51.178958
            .Longitude
              経度: -1.826552
            .Description
              ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。ロンドンから西に約200kmのイギリス南部・ソールズベリーから北西に13km程に位置する環状列石（ストーンサークル）のこと。世界文化遺産として1986年に登録された。2008年には範囲を変更して登録された。
      .EditAndDelete
        .Edit
          %input(type="button" value="edit" class="button")/
        .Delete
          %input(type="button" value="delete" class="button")/

      .Map
        = image_tag 'google_map.png', alt: '仮の画像なので後で本物のマップになります', height: '100%', width: '100%', class: ''

    = render partial: "footer"