.PostsTop
  .Wrapper
    = render partial: "header"
    .Main
      .Main__content
        = link_to posts_path do
          %h2
            地球押し
          %p
            世界遺産や建造物を答えるクイズにおいて、地球の衛星写真が映し出されただけの段階で解答ボタンを押して正答する技の事
          %p
            %br/
            これはGoogleMapを使ってクイズの練習をするアプリです。
            %br/
            自分の好きな世界遺産や建造物や場所を登録し、地図をズームアップして上空から確認する、とてもシンプルなアプリです。
            %br/
            クイズ番組「東大王」では、世界地図を上空からズームアップしていき、
            %br/
            答えがわかった時点で早押しで対象の世界遺産や建造物の名称を回答するというクイズがあります。
            %br/
            東大王メンバーよりも早く「わかった！」となれるように、このアプリで練習しましょう！
          %p.enter
            %br/
            Please click to enter
    = render partial: "footer"
