.PostsTop
  .Wrapper
    = render partial: "header"
    .Main
      .Main__content
        = link_to posts_path do
          %h2
            地球押し
          %p
            世界遺産や建造物を答えるクイズにおいて、地球の衛星写真が映し出されただけの段階で解答ボタンを押して正答する技の事
          %p
            about: 地図をズームアップして世界遺産の名称・場所・外観を把握し、東大王に対抗するためのサイトです
          %p.enter
            %br/
            Please click to enter
    = render partial: "footer"
