@import "reset";
@import "box-sizing";
@import "modules/posts_top";
@import "modules/posts_index";
@import "modules/posts_search";
@import "modules/posts_new";
@import "modules/posts_edit";
@import "modules/posts_show";
@import "modules/posts_header";
@import "modules/posts_footer";
@import "modules/users_registrations_new";
@import "modules/users_registrations_edit";
@import "modules/users_sessions_new";
@import "modules/users_show";
@import "modules/flash";
@import "modules/error_messages";
@import "font-awesome-sprockets";
@import "font-awesome";

// 共通css
a {
  text-decoration: none;
  color: #666;
}
h2 {
  // font-family: 'Noto Serif JP', serif;
  letter-spacing: 0.2rem;
}
p {
  // font-family: 'Noto Serif JP', serif;
  letter-spacing: 0.2rem;
}
body,
input,
textarea {
  line-height: 1.57;
  letter-spacing: 0.2rem;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}
#error_explanation {
  font-size: 12px;
  color: crimson;
  h2 {
    font-size: 12px;
    padding-bottom: 8px;
  }
}